body{
	margin: 0;
	padding:0;
	width:100%;
}

header{
	margin-top:50px;
}

#map{
	margin:0;
	padding:0;
	width:100%;
	display:block;
	margin:auto;
}



/*Menu déroulant*/

nav {
	box-sizing :border-box;
	width:1000px; /*occupe toute la largeur de la page*/
	margin: auto;
	position:relative; /*afin que les sous menus déroulants survolent les autres blocs*/
	border:1px solid red;
	height: 60px;
	font: normal normal normal 18px helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
	color: #262027;
	
}

nav ul{
	box-sizing :border-box;
	margin:0;
	padding:0;
	height: inherit;
	list-style-type:none;
	text-align: center;
}

nav ul li{
	box-sizing :border-box;
	vertical-align: top;
	margin:0;
	padding:0px 12px 0px 12px;
	margin:0px 12px 0px 12px;
	display: inline-block;
	border : 1px solid black;
	height : 30px;
	line-height: 30px;
	width:auto;
	border-radius: 10px;
	position: relative;
}

nav ul li a{
	text-decoration:none;
	color: #262027;
	display:block;
	height:100%;
	width:100%;
}

.snav li{
	box-sizing :border-box;
	display:none;
	padding:0;
	margin:0;
	width:100%;
}

.snav{
	width:100%;
	/*border: 1px solid green;	*/
}

nav li:hover .snav li{
	display:block;
}

